@import "utils/_variables";
@import "base/_base";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: initial;
  text-decoration: none;
}

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1920px;
  max-height: 1080px;
  padding: 20px;
  height: 100%;
  width: 100%;
}
