html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  --res: calc(0.01 * 10vmin);
}

a {
  color: initial;
  text-decoration: none;
}

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
}
