@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.first {
  @include center;
  margin: 0 10%;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
  h1 {
    color: rgb(255, 96, 96);
    width: auto;
    height: auto;
    font-size: calc(240 * var(--res));
  }
  p {
    color: rgb(255, 96, 96);
    font-size: 24px;
  }
  a {
    text-decoration: underline;
  }
}
